{% load static %}
{% static "images" as baseUrl%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'style.css' %}">

<link rel="stylesheet" href="{% static 'profile.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Ajax CDN -->
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>


</head>
<body>

    
    
    <input type="hidden" value="{{request.user}}" id="uname">
    <input type="hidden" value="{{room.slug}}" id="roomname">

    <!-- New Style Starts -->
    <nav>
        <a style="color: black;text-decoration: none;" href="/rooms"><h1>Chat</h1></a>
        <div style="display: flex;flex-direction:row; width: 100px;justify-content: space-between;">
            <a style="text-decoration: none;color:black;" href="/edit-profile">
                {% if ac.profile_picture %}
                <img class="pro-pic" src="/media/{{ac.profile_picture}}" alt="">
                {% else %}
                <img class="pro-pic" src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="">
                {% endif %}
            </a>
            <a style="margin-top:10px;font-size: 25px;color: black;" href="/logout"><i class="fa fa-sign-out"></i></a>
        </div>
       
    </nav>
    <hr style="width: 100%;">

    <div class="main">
        <div class="side-bar-1">
           

            <input type="text" class="srch-bar" placeholder="Search...">
            <div class="side-bar-1-scroll">
        
        <!-- Groups -->
            {% for i in rms %}
            <a class="btn" style="width:100%;height: 120px;" href="/room/{{i.slug}}">
                {% if i.isPrivate %}
                    <div class="card-div">
                        <div class="mrow">
                            <div>
                                {% if i.usr1.user == request.user %}
                                    {% if  i.usr2.profile_picture %}
                                    <img class="post-sub-profile" src="/media/{{i.usr2.profile_picture}}" alt="">
                                    {% else %}
                                    <img class="post-sub-profile" src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="">
                                    {% endif %}
                                    </div>
                                    <div class="mspac">
                                        <strong><p>{{i.usr2.name}}</p></strong>
                                    </div>
                                {% else %}
                                    {% if  i.usr1.profile_picture %}
                                    <img class="post-sub-profile" src="/media/{{i.usr1.profile_picture}}" alt="">
                                    {% else %}
                                    <img class="post-sub-profile" src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="">
                                    {% endif %}
                                    </div>
                                    <div class="mspac">
                                        <strong><p>{{i.usr1.name}}</p></strong>
                                    </div>
                                {% endif %}
                            
                                
                                
                        </div>
                    
                    </div>
                {% else %}
                <div class="card-div">
                    <div class="mrow">
                        <div>
                            {% if  i.profile_picture %}
                            <img class="post-sub-profile" src="/media/{{i.profile_picture}}" alt="">
                            {% else %}
                            <img class="post-sub-profile" src="https://cdn-icons-png.flaticon.com/512/143/143438.png" alt="">
                            {% endif %}
                        </div>
                        <div class="mspac">
                            <strong><p>{{i.name}}</p></strong>
                        </div>
                            
                            
                    </div>
                
                </div>
                {% endif %}
        </a>
            <hr style="width: 100%;">
            {% endfor %}


        </div>
        


        <!-- POPUP GROUP CREATE -->
        <div class="popdiv">
            <button class="open-button btn btn-success" onclick="openForm()">Create Group</button>

            <div class="form-popup" id="myForm">
              <form action="/create-group" method="POST" class="form-container" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Create Group</h1>
                <label for="psw"><b>Group Icon</b></label>
                <input type="file" name="image">
                <br>
            
                <label for="email"><b>Group Name</b></label>
                <input type="text" placeholder="Enter Group Name *" name="name" required>

                <label for="email"><b>About</b></label>
                <input type="text" placeholder="Write about the Group" name="about">
            
            
                <button type="submit" class="btn">Create Group</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
              </form>
            </div>
            
            <script>
            function openForm() {
              document.getElementById("myForm").style.display = "block";
            }
            
            function closeForm() {
              document.getElementById("myForm").style.display = "none";
            }
            </script>
        </div>


         <!-- POPUP GROUP CREATE -->




    </div>
    <!-- SIDEBAR 2 || Message Box Section -->
    <!-- IF FLAG 1 THEN SHOWS MESSAGE SECTION || IF FLAG 2 THEN SHOWS EDIT PROFILE SECTION -->
   
        <div class="side-bar-2">
            <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
            {% if flag == 1 %}
            

            <a href="/chat-settings/{{room.slug}}" style="color: black;text-decoration:none;">
            <div class="mrow">
                <div >
                    {% if me %}
                        {% if  other.profile_picture %}
                        <img class="post-sub-profile" src="/media/{{other.profile_picture}}" alt="">
                        {% else %}
                        <img class="post-sub-profile" src="https://cdn-icons-png.flaticon.com/512/143/143438.png" alt="">
                        {% endif %}
                    {% else %}
                        {% if  room.profile_picture %}
                        <img class="post-sub-profile" src="/media/{{room.profile_picture}}" alt="">
                        {% else %}
                        <img class="post-sub-profile" src="https://cdn-icons-png.flaticon.com/512/143/143438.png" alt="">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="mspac">
                    {% if me %}
                    <h4>{{other.name}}</h4>
                    {% else %}
                    <h4>{{room.name}}</h4>
                    {% endif %}
                    
                </div>
                
                    
            </div>
        </a>

            <input type="hidden" id="test" value="">
            <hr style="width: 100%;">
            <div class="side-bar-2-scroll" id="msg-div">
                {% for i in messages %}
                {% if i.user == request.user %}
                {% if i.get_len > 2500 %}
                <img src="{{i.content}}" style="width:200px;margin-top:5px;margin-bottom:5px;" align="right">
                {% else %}
                <div class="msg-layout-me">
                    <p style="color: #d4d4d4;margin-bottom: 0px;">{{i.user.username}}</p>
                    <p style="color: white;">{{i.content}}</p>
                </div>
                {% endif %}
                {% else %}
                <div class="msg-layout-other">
                    {% if i.get_len > 2500 %}
                        <img src="{{i.content}}" style="width:200px;margin-top:5px;margin-bottom:5px;" align="right">
                    {% else %}
                    <p style="color: #d4d4d4;margin-bottom: 0px;">{{i.user.username}}</p>
                    <p>{{i.content}}</p>
                </div>
                {% endif %}
                {% endif %}

                        
                {% endfor %}
               

                <!-- Message Me -->
                <!-- <div class="msg-layout-me">
                   
                    <p style="color: white;">Hello there</p>
                    <p style="font-size: 12px;color: #d4d4d4;margin-bottom: 0px;">10:40</p>
                </div> -->
                <!-- Message Other Me -->

               
            </div>
            <!-- Send Button -->
            <form method="post" action=".">
                <div class="mrow">
                    <style>
                        .image-upload>input {
                            display: none;
                        }
                    </style>
                    <!-- Image Upload Button -->
                    <div class="image-upload">
                        <label for="file-input">
                          <i class="fa fa-camera" style="font-size: 30px;margin-top:25px;margin-right:5px;"></i>
                        </label>
                      
                        <input id="file-input" type="file" onchange="encodeImageFileAsURL(this)" />
                        
                      </div>
                      <!-- Image Upload Section Ends -->
                    <textarea maxlength="2000" style="height: 40px;resize:none;margin-top:20px;" class="form-control" type="text" placeholder="Type Message" id="msg-place"></textarea>
                    <button class="btn" style="margin-top:20px;" type="submit" value="" id="send-btn"><i class="fa fa-paper-plane" style="font-size: 25px;"></i></button>    
                </div>
                </form>
            <!-- Send Button Ends -->
            <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
            {% elif flag == 2 %}
            <!-- Profile Edit Section------- -->
            <br><br>
            <h2 style="margin-left: 10px;">Edit Profile</h2>
            <form action="/edit-profile" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="container">
                <div class="row gutters">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    {% if ac.profile_picture %}
                                    <img src="/media/{{ac.profile_picture}}" alt="user image">
                                    {% else %}
                                    <img src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="user image">
                                    {% endif %}
                                </div>
                                <h5 class="user-name">{{ac.name}}</h5>
                                <h6 class="user-email">@{{ac.user.username}}</h6>
                            </div>
                            <div class="about">
                                <h5>About</h5>
                                <p>{{ac.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input name="name" type="text" class="form-control" id="fullName" placeholder="Enter full name">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="pro-pic">Profile Picture</label>
                                    <input name="image" type="file" class="form-control" id="eMail">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="desc">About</label>
                                    <input name="about" type="text" class="form-control" id="phone" placeholder="Write something about You">
                                </div>
                            </div>
                            
                        </div>
                        <br>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    
                                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Update Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
            </form>

            <!-- Profile Edit Section------- -->

            <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
            {% elif flag == 3 %}
            <!-- Group Setting Section -->
            <div class="mrow">
                <div >
                    {% if  room.profile_picture %}
                    <img class="post-sub-profile" src="/media/{{room.profile_picture}}" alt="">
                    {% else %}
                    <img class="post-sub-profile" src="https://cdn-icons-png.flaticon.com/512/143/143438.png" alt="">
                    {% endif %}
                </div>
                <div class="mspac">
                    <h4>{{room.name}} </h4>
                </div>
                
                
                    
            </div>
            <hr style="width: 100%;">
            <!-- Button for Clear all Chat -->
            {% if request.user == room.owner %}
            <a href="/clear-chat/{{room.slug}}"><button class="btn btn-danger">Clear Chat</button></a>
            <a href="/delete-group/{{room.slug}}"><button class="btn btn-danger">Delete Group</button></a>
            {% endif %}
            <!-- Group Setting Section Ends-->
            {% endif %}
        </div>
        <br>
    
</div>

<div id="snackbar">You have New Message!</div>

<style>
    /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>

    <!-- New Style Ends -->

   

    <script>
        const roomName = document.getElementById('roomname').value;
        const userName = document.getElementById('uname').value;

       // Keyboard Shortcut to send Message

       document.addEventListener("keydown",e =>{
            if(e.ctrlKey){
                $("#send-btn").click();
            }
        })

       

        // Convert Image to base64
        function encodeImageFileAsURL(element) {
            var file = element.files[0];
            var reader = new FileReader();
            reader.onloadend = function() {
                
                 // Const value to hold Image Base64 URL

                const imgURL = reader.result;
                
                document.querySelector("#test").value = reader.result;
                document.querySelector("#send-btn").onclick;
                
                
            }
            reader.readAsDataURL(file);
        }

        


        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );
        chatSocket.onmessage = function(e){
            console.log('onmessage')

            const data = JSON.parse(e.data);


            if(data.message){

                // Toast Notification
                
                // var x = document.getElementById("snackbar");

                // // Add the "show" class to DIV
                // x.className = "show";

                // // After 3 seconds, remove the show class from DIV
                // setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);


                var audio = new Audio('/media/tones/tone1.ogg');
                audio.play();
                if(data.username == userName){
                    if(data.message.length >= 2500){
                        let html = '<img src="'+data.message+'" style="width:200px;margin-top:5px;margin-bottom:5px;" align="right">'
                        document.querySelector("#msg-div").innerHTML += html;
                    }else{
                        let html = '<div class="msg-layout-me">'
                        +'<p style="color: #d4d4d4;margin-bottom: 0px;">'+data.username+'</p>'
                        +'<p style="color: white;">'+data.message+'</p></div>'

                        document.querySelector("#msg-div").innerHTML += html;
                    }
                }
                else{
                    if(data.message.length >= 100){
                        let html = '<img src="'+data.message+'" style="width:200px;margin-top:5px;margin-bottom:5px;">'
                        document.querySelector("#msg-div").innerHTML += html;
                    }else{
                        let html = '<div class="msg-layout-other">'
                        +'<p style="color: #d4d4d4;margin-bottom: 0px;">'+data.username+'</p>'
                        +'<p>'+data.message+'</p></div>'

                        document.querySelector("#msg-div").innerHTML += html;
                    }
                }
                
                scrollToBottom();
               
            }
           
        }

        chatSocket.onclose = function(e){
            console.log('onclose')
        }

        //

        document.querySelector("#send-btn").onclick = function(e){

            e.preventDefault();

            const msgdom = document.getElementById('msg-place');
            const msg = document.getElementById('msg-place').value;

            // Check if there is image

            const imageFile = document.querySelector("#test").value;
            
            if(msg == ''){
                 chatSocket.send(JSON.stringify({
                    'message': imageFile,
                    'username': userName,
                    "room": roomName
                }));
            }
            
            chatSocket.send(JSON.stringify({
                'message': msg,
                'username': userName,
                "room": roomName
            }));

            msgdom.value = '';

            return false;

            
        }

        //

        function scrollToBottom(){
                const objectDiv = document.querySelector("#msg-div");
                objectDiv.scrollTop = objectDiv.scrollHeight;
        }

        scrollToBottom();


    </script>
  
</body>
</html>