{% load static %}
{% static "images" as baseUrl%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'style.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Ajax CDN -->
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>


</head>
<body>
    
    <input type="hidden" value="{{request.user}}" id="uname">
    <input type="hidden" value="{{room.name}}" id="roomname">

    <!-- New Style Starts -->

    <div class="main">
        <div class="side-bar-1">
            <a style="color: black;text-decoration: none;" href="/rooms"><h1>Chat</h1></a>
            <input type="text" class="srch-bar" placeholder="Search...">
            <div class="side-bar-1-scroll">
        
        <!-- Groups -->
            {% for i in rms %}
            <a class="btn" style="width:100%;height: 120px;" href="/room/{{i.slug}}">
            <div class="card-div">
                <div class="mrow">
                    <div>
                        {% if  i.profile_picture %}
                        <img class="post-sub-profile" src="/media/{{i.profile_picture}}" alt="">
                        {% else %}
                        <img class="post-sub-profile" src="https://cdn-icons-png.flaticon.com/512/143/143438.png" alt="">
                        {% endif %}
                    </div>
                    <div class="mspac">
                        <strong><p>{{i.name}}</p></strong>
                    </div>
                        
                        
                </div>
            
            </div>
        </a>
            <hr style="width: 100%;">
            {% endfor %}


        </div>
        <button class="btn btn-danger"><i class="fa fa-close"></i> Logout</button>
    </div>
    <!-- SIDEBAR 2 || Message Box Section -->
   
        <div class="side-bar-2">
            {% if flag == 1 %}
            
            <div class="mrow">
                <div >
                    {% if  room.profile_picture %}
                    <img class="post-sub-profile" src="/media/{{room.profile_picture}}" alt="">
                    {% else %}
                    <img class="post-sub-profile" src="https://cdn-icons-png.flaticon.com/512/143/143438.png" alt="">
                    {% endif %}
                </div>
                <div class="mspac">
                    <h4>{{room.name}} </h4>
                </div>
                
                    
            </div>
            <input type="hidden" id="test" value="">
            <hr style="width: 100%;">
            <div class="side-bar-2-scroll" id="msg-div">
               

                <!-- Message Me -->
                <!-- <div class="msg-layout-me">
                   
                    <p style="color: white;">Hello there</p>
                    <p style="font-size: 12px;color: #d4d4d4;margin-bottom: 0px;">10:40</p>
                </div> -->
                <!-- Message Other Me -->

               
            </div>
            <!-- Send Button -->
            <form method="post" action=".">
                <div class="mrow">
                    <style>
                        .image-upload>input {
                            display: none;
                        }
                    </style>
                    <!-- Image Upload Button -->
                    <div class="image-upload">
                        <label for="file-input">
                          <i class="fa fa-camera" style="font-size: 30px;margin-top:25px;margin-right:5px;"></i>
                        </label>
                      
                        <input id="file-input" type="file" onchange="encodeImageFileAsURL(this)" />
                        
                      </div>
                      <!-- Image Upload Section Ends -->
                    <textarea style="height: 40px;resize:none;margin-top:20px;" class="form-control" type="text" placeholder="Type Message" id="msg-place"></textarea>
                    <button class="btn" style="margin-top:20px;" type="submit" value="" id="send-btn"><i class="fa fa-paper-plane" style="font-size: 25px;"></i></button>    
                </div>
                </form>
            <!-- Send Button Ends -->
            {% endif %}
        </div>
        <br>
    
</div>

    <!-- New Style Ends -->

   

    <script>
        const roomName = document.getElementById('roomname').value;
        const userName = document.getElementById('uname').value;

       // Keyboard Shortcut to send Message

       document.addEventListener("keydown",e =>{
            if(e.ctrlKey){
                $("#send-btn").click();
            }
        })

       

        // Convert Image to base64
        function encodeImageFileAsURL(element) {
            var file = element.files[0];
            var reader = new FileReader();
            reader.onloadend = function() {
                
                 // Const value to hold Image Base64 URL

                const imgURL = reader.result;
                
                document.querySelector("#test").value = reader.result;
                alert("Image ready to send!")
                
                
            }
            reader.readAsDataURL(file);
        }

        


        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );
        chatSocket.onmessage = function(e){
            console.log('onmessage')

            const data = JSON.parse(e.data);


            if(data.message){
                var audio = new Audio('/media/tones/tone1.ogg');
                audio.play();
                if(data.username == userName){
                    if(data.message.length >= 100){
                        let html = '<img src="'+data.message+'" style="width:200px;margin-top:5px;margin-bottom:5px;" align="right">'
                        document.querySelector("#msg-div").innerHTML += html;
                    }else{
                        let html = '<div class="msg-layout-me">'
                        +'<p style="color: #d4d4d4;margin-bottom: 0px;">'+data.username+'</p>'
                        +'<p style="color: white;">'+data.message+'</p></div>'

                        document.querySelector("#msg-div").innerHTML += html;
                    }
                }
                else{
                    if(data.message.length >= 100){
                        let html = '<img src="'+data.message+'" style="width:200px;margin-top:5px;margin-bottom:5px;">'
                        document.querySelector("#msg-div").innerHTML += html;
                    }else{
                        let html = '<div class="msg-layout-other">'
                        +'<p style="color: #d4d4d4;margin-bottom: 0px;">'+data.username+'</p>'
                        +'<p>'+data.message+'</p></div>'

                        document.querySelector("#msg-div").innerHTML += html;
                    }
                }
                
                scrollToBottom();
               
            }
           
        }

        chatSocket.onclose = function(e){
            console.log('onclose')
        }

        //

        document.querySelector("#send-btn").onclick = function(e){

            e.preventDefault();

            const msgdom = document.getElementById('msg-place');
            const msg = document.getElementById('msg-place').value;

            // Check if there is image

            const imageFile = document.querySelector("#test").value;
            
            if(msg == ''){
                 chatSocket.send(JSON.stringify({
                    'message': imageFile,
                    'username': userName,
                    "room": roomName
                }));
            }
            
            chatSocket.send(JSON.stringify({
                'message': msg,
                'username': userName,
                "room": roomName
            }));

            msgdom.value = '';

            return false;

            
        }

        //

        function scrollToBottom(){
                const objectDiv = document.querySelector("#msg-div");
                objectDiv.scrollTop = objectDiv.scrollHeight;
        }

        scrollToBottom();


    </script>
  
</body>
</html>