<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="main">
        <div class="side-bar-1">
            <h1>Chat</h1>
            <input type="text" class="srch-bar" placeholder="Search...">
            <div class="side-bar-1-scroll">
            
            <div class="card-div">
                <div class="mrow">
                    <div >
                        <img class="post-sub-profile" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO7rSbPANgVODJRFbApdRGzERyJKQeEgdYNg&usqp=CAU" alt="">
                    </div>
                    <div class="mspac">
                        <strong><p>Srejus </p></strong>
                    </div>
                        
                        
                </div>
                
                <p style="padding-left: 20px;">Hi there r u busy now?</p>
            </div>


            



        </div>
    </div>
    <!-- SIDEBAR 2 || Message Box Section -->
        <div class="side-bar-2">
            
            <div class="mrow">
                <div >
                    <img class="post-sub-profile" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO7rSbPANgVODJRFbApdRGzERyJKQeEgdYNg&usqp=CAU" alt="">
                </div>
                <div class="mspac">
                    <h4>Srejus </h4>
                </div>
                
                    
            </div>
            <hr style="width: 100%;">
            <div class="side-bar-2-scroll">
                <!-- Message Other -->
                <div class="msg-layout-other">
                    <p style="color: #d4d4d4;margin-bottom: 0px;">Jeevan</p>
                    <p>Hello there</p>
                </div>
                <!-- Message Other Ends -->

                <!-- Message Me -->
                <div class="msg-layout-me">
                   
                    <p style="color: white;">Hello there</p>
                    <p style="font-size: 12px;color: #d4d4d4;margin-bottom: 0px;">10:40</p>
                </div>
                <!-- Message Other Me -->

               
            </div>
        </div>
        <br>
        
</div>
</body>
</html>